:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --background-color: rgba(255, 255, 255, 0.1);
  --shadow-color: rgba(0, 0, 0, 0.7);
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: var(--background-color);
  color: #fff;
  backdrop-filter: blur(10px);
}

/* Global Styles */

h1, h2, h3, p {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

/* Glows */
a {
  color: var(--primary-color);
  text-shadow: 0 0 20px var(--primary-color), 0 0 30px var(--primary-color);
}

/* Shadow Aura Effect */
.shadow-aura {
  box-shadow: 0 4px 15px var(--shadow-color);
}

/* Glassmorphism Effect */
.glass {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
}